.tr {
  height: 40px;
  font-size: 20px;
  opacity: 1;
  &--red {
    background-color: red;
  }
  &--yellow {
    background-color: yellow;
  }
  &--blue {
    background-color: blue;
  }
  &--dodgerblue {
    background-color: dodgerblue;
  }
  &--orange {
    background-color: orange;
  }
  &--green {
    background-color: green;
  }
}

.pointer {
  cursor: progress;
}

.hover {
  &:hover {
    background-color: white;
    color: black;
  }
}
